.video-container {
  width: 100%;
  height: 100%;
}

.video-list {
  height: 100vh;
  padding-left: 0;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

/* @media screen and (max-width: 768px) {
  .video-list :first-child {
    height: calc(100vh - 5rem);
  }
} */
