/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 
Our own CSS
*/

:root {
  --clr-sidebar: hsl(203, 77%, 83%);
  --clr-sidebar-btn: hsl(216, 97%, 73%);
  --clr-text: black;
}

#root {
  display: grid;
  grid-template-columns: 15rem 1fr;
  height: 100vh;
  min-height: 100vh;
}

#topbar {
  width: 100%;
}

#container {
  display: grid;
  grid-template-rows: 3rem 1fr;
  height: 100%;
  gap: 2rem;
  background: linear-gradient(
    0deg,
    hsl(78, 26%, 44%) 25%,
    hsl(78, 35%, 57%) 90%
  );
}

#sidebar {
  background-color: var(--clr-sidebar);
}

#sidebar ul {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
  list-style: none;

  padding: 0;
  padding-top: 2rem;

  & li {
    background: var(--clr-sidebar-btn);
    grid-column-start: 2;
    width: 100%;
    line-height: 3;
    border-radius: 1rem;
  }

  & li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: var(--clr-text);
    font-size: 1.5rem;
  }

  & .active {
  }

  & .inactive {
  }
}

#topbar button {
  max-height: 2rem;
}

.main-screen {
  display: flex;
  flex-direction: column;
  flex: 1;
}
